<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Crown Hotel | Reception</title>
        <!-- css links -->
        <link href="../css/back-sidebar.css" rel="stylesheet">
        <link href="../css/customer-service.css" rel="stylesheet">
        <!-- icon for page title -->
        <link rel="icon" href="images/logo_hotel_black.png" type="image/icon type">
        <!-- icon from fontawesome -->
        <script src="https://kit.fontawesome.com/cc44fc4986.js" crossorigin="anonymous"></script>
        <!-- sidebar js -->
        <script src="../js/back-sidebar.js" defer></script>
    </head>
    <body>
        <!-- begin sidebar -->
        <div class="sidebar">
            <div class="top">
                <div class="logo">
                    <img class="img-size" src="../images/logo_hotel_black.png" alt="The Crown Hotel">
                    <span style="font-size: small;">The Crown Hotel</span>
                </div>
                <i class="fa-solid fa-bars" id="btn"></i>            
            </div>
            <div class="user">
                <img src="../images/user-rep.png" alt="user" class="user-img">
                <div>
                    <p class="bold">Cake C.</p>
                    <p>Receptionist</p>
                </div>
            </div>
            <!-- begin tooltip -->
            <ul>
                <li>
                    <a href="/rep-dashboard">
                        <i class="fa-solid fa-gauge-simple-high"></i>
                        <span class="nav-item">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="/customer-reservation" class="active-page">
                        <i class="fa fa-user"></i>
                        <span class="nav-item">Customer Reservation</span>
                    </a>
                    <span class="tooltip">Customer Reservation</span>
                </li>
                <li>
                    <a href="/room-management">
                        <i class="fa fa-bed"></i>
                        <span class="nav-item">Room Management</span>
                    </a>
                    <span class="tooltip">Room Management</span>
                </li>
            </ul>
            <!-- end tooltip -->
        </div>
        <!-- end sidebar -->

        <!-- begin content -->
        <div class="main-content">
            <div class="main-topic">
                Daily Report
            </div>
            <div class="info-boxes">
				<div class="info-box">
					<div class="box-icon">
                        <i class="fa-solid fa-users fa-2xl"></i>
					</div>
					<div class="box-content">
						<span class="big"><%= b_ref_p %></span>
						Pending Arrival
					</div>
				</div>
				<div class="info-box">
					<div class="box-icon">
                        <i class="fa-regular fa-credit-card fa-2xl"></i>
					</div>
					<div class="box-content">
                        <% if (payment_l === null) { %>
                            <span class="big">0.00</span>
                        <% } else { %>
						    <span class="big"><%= payment_l %></span>
                        <% } %>
						Payment Collected (£)
					</div>
				</div>
				<div class="info-box">
					<div class="box-icon">
                        <i class="fa-solid fa-broom fa-2xl"></i>
                    </div>
                    <div class="box-content">
                        <% if (room_c_s === 0) { %>
                            <span class="big">0</span>
                        <% } else { %>
                            <span class="big"><%= room_c_s %></span>
                        <% } %>
                        Rooms being cleaned
                    </div>
				</div>
			</div>
            <div class="main-topic">
                Shortcut
            </div>
            <div class="shortcut-boxes">
					<a href="/check-in" class="shortcut-box">
                        <i class="fa-solid fa-plus fa-2xl shortcut-icon"></i>
						<span class="shortcutBig">Check in</span>
                    </a>
					<a href="/cr-new-reservation" class="shortcut-box">
                        <i class="fa-solid fa-plus fa-2xl shortcut-icon"></i>
						<span class="shortcutBig">New Reservation</span>
                    </a>
			</div>
        </div>
        <!-- end content -->
    </body>
</html>